.fishes {
    background-color: rgba(65, 105, 225, 0.397);
    padding: .25rem 0 .5rem 0;
    border-radius: 25px;
}

.fishCard {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 1rem;
}

.fish__image {
    height: 5rem;
}

.fish__name {

}
.fish__species {

}
.fish__length {

}
.fish__location {

}
.fish__diet {

}

