.fishes {
    background-color: rgba(65, 105, 225, 0.397);
    border: 1px solid rgb(116, 4, 82);
    margin: .5rem 0 .5rem 0
}

.fishCard {
    display: flex;
    flex-direction: column;
}

.fish__image {
    height: 5rem;
}

.fish__name {

}
.fish__species {

}
.fish__length {

}
.fish__location {

}
.fish__diet {

}

