.locations {
    background-color: rgba(207, 48, 48, 0.281);
    margin: .5rem 0 .5rem 0;
}

.location__card {

}

.location__image {
    height: 5rem;
}

.location__name {

}

.location__url {

}

.location__description {

}