@import "./locations.css";
@import "./fishes.css";
@import "./quotes.css";
@import "./tips.css";

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
h2 {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

h5 {
    font-weight: 600;
}



.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.title {
    flex-grow: 5;
}

.main {
    display: flex;
    /* justify-content: space-evenly; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content--left {
    /* flex: 2; */
    margin-left: 1rem;
}

.content--right {
    flex: 1;
    margin-left: 2rem;
}