.quotes {
    background-color: gold;
    margin-right: .5rem 0 .5rem 0;
}

.quote__card {
    border: 1px solid orangered;
}

.quote__text {
    font-style: italic;
}

.quote__author {
    font-weight: 500;
}

